span.player {
	/* padding: 11px 22px; */
	padding: 10px 12px;
	border-radius: 10px;
	font-weight: 600;
	font-size: 1rem;
}

label.playOne > span.player {
	background-color: #ee9d2b;
	border: 1px solid #ad5700;
	color: #35290f;
}

label.playTwo > span.player {
	background-color: #ffcc00;
	border: 1px solid #946800;
	color: #4e2009;
}

label.playOne > input.dotPlayer {
	margin-left: 10px;
}

label.playTwo > input.dotPlayer {
	margin-right: 10px;
}

label.customCheck > input.dotPlayer {
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

.playerContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 1rem;
}

.playerChoice,
.customCheck {
	display: flex;
	align-items: center;
}

@media screen and (min-width: 500px) {
	span.player {
		padding: 15px 25px;
		font-size: 1rem;
		margin: 1rem;
	}

	label.customCheck > input.dotPlayer {
		width: 45px;
		height: 45px;
	}
}
